---
const { title, desc, url, badge, isSSD, tags, target = "_blank" } = Astro.props;
import Assets from "./assets.astro";

---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}> 
    <table><tr> 
      <td> 
        <div class="hero-content pd-2 py-2 mt-8  text-xl font-bold inline flex-col md:flex-row">
          {isSSD === true ? <Assets imagePath="/src/assets/device-ssd.svg" width={100} height={100} /> : <Assets imagePath="/src/assets/device-hdd.svg" width={100} height={100} />}
        </div>
      </td>
      <td>
        <div class="hero-content flex-col md:flex-row">
          <div class="grow w-full">
            <h1 class="text-xl font-bold">
              {title}<br />
            </h1>
            <h2 class="text-l font-bold">
              {badge && <div class="py-1 text-1xl">{badge}</div>}
            </h2>
            <p class="py-1 text-1xl">{desc}</p>
            <div class="card-actions justify-end">
              {
                tags &&
                  tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
              }
            </div>
          </div>
      </td>
    </tr></table>
    </div>
  </a>
</div>
