---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import GetSupportCard from "../components/GetSupportCard.astro";
import AdamCerts from "../components/AdamCerts.astro"
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog", ({ data }) => {return import.meta.env.PROD ? data.draft !== true : true;})).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="relative overflow-x-auto flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                  <div class="avatar hover:scale-[102%] block m-auto">
                    <div class="w-[15rem]">
                      <Image class="mask" aspectRatio="1:1" format="png" width={250} height={250} src="/profile.png" alt="Profile image" />
                    </div>
                  </div>
                </th>
                <th scope="col" class="px-6 py-3">
                  <div class="text-xl py-1">Hey there 👋</div>
                  <div class="text-5xl font-bold">I'm Adam Matthiesen</div>
                  <div class="text-3xl py-3 font-bold">IT Support & Network Administration Specialist</div>
                  <AdamCerts />
                </th>
            </tr>
        </thead>
    </table>
</div>
<br>

  <div class="relative overflow-x-auto flex flex-col bg-white border border-gray-200 rounded-lg shadow  dark:border-gray-700 dark:bg-gray-800 pb-12 mt-5">
    <div class="py-2">
      <text class="text-lg">
        This website is the Hub of my various projects, as well as a single place for me to show off what makes me who I am.  Ever since I was a small kid I have migrated towards technology over sports, card games, and other normal 2000 era kid stuff.
        After years of showing intrest in technology I built my first computer with my Dad at the age of Five.  After that I continued into learning more about the computer at my hands, it started simnple as gaming, then running Minecraft servers, and eventually...
        on to more complicated projects, that led me to my first IT job working as a Help Desk Technician at, Your Business Solutions, INC. in Texas Remote from my home in Washington at the age of 19.
      </text>
      <br><br>
      <text class="text-lg">
        Today I am a Self Employed IT Support & Network Administration Specialist, which is fancy words for a well rounded IT Guy who can help with almost anything you could need.  My Focus recently has been open source business integration, and cost savings.
        I have been Striving to create a good way to link common open source and reliable software into common everyday business practices to replace software such as Office 365, Exchange, ESXi, VDI, and more.  Even created a single sign on environment linking Active Directory
        Authentication into Opensource software using LDAP or O-Auth Solutions through Authentik or Cloudflare Access(Free Tier).  For More information as to what I've been working on, or to connect with me checkout my Blog, Connect with me on LinkedIn, or checkout my Support Center!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" 
      href="/cv">My Resume <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z"/>
      </svg></a>
      <a class="btn text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" 
      href="https://www.linkedin.com/in/amatthiesen1/" target="_blank">Let's connect! <i style="font-size:24px" class="fa">&#xf08c;</i></a>
    </div>
  </div>

  <div class="relative pd-2 bg-white border border-gray-200 rounded-lg shadow  dark:border-gray-700 dark:bg-gray-800 pb-12 mt-5">
  <div>
    <div class="text-3xl font-bold mb-2">Get IT Support</div>
  </div>
  <div class="divider my-0" />
  <GetSupportCard
    title="IT Help Desk & Support Center"
    img="/mxyz-support-banner-whitetext.png"
    desc="IT Support Center - Progress updates and information regarding release date."
    url="/blog/post-support"
    warn="Currently Links to Blog Post NOT Support Center... That will Change after release!"
    target=""
  />
</div>


<div class="relative pd-2 bg-white border border-gray-200 rounded-lg shadow  dark:border-gray-700 dark:bg-gray-800 pb-12 mt-5">
  <div>
    <div class="text-3xl font-bold mb-2">External Projects</div>
  </div>
  <div class="divider my-0" />
  <HorizontalCard
    title="Matthiesen Photography"
    img="/photography.jpg"
    desc="Hobbiest Photographers - We both have a love for Photography which led to us creating our website to share our work, and offer our services to anyone interested! We do all sorts of different type of Photography!"
    cfbadge="https://img.shields.io/endpoint?url=https://cloudflare-pages-badges.matthiesenxyz.workers.dev?projectName=matthiesenphotography&style=for-the-badge&label=Last Build"
    url="https://matthiesenphotography.com"
    target="_blank"
  />
</div>
  <!-- TEMPLATE
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
    target=""
  />
-->
<div class="pd-2 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 pb-12 mt-5">
  <div>
    <div class="text-3xl font-bold mb-2">Latest from my blog</div>
  </div>
  <div class="divider my-0" />
  {
    last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target=""
          badge={post.data.badge}
          blogbadge={post.data.blogbadge}
          tutorialbadge={post.data.tutorialbadge}
          projectbadge={post.data.projectbadge}
        />
        <div class="divider my-0" />
    ))
  }
</div>
</BaseLayout>
