---
import type { HddSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends HddSchema {}

const { serial, make, model, type, size, reportDate, capacity, manuDate, pdf} = Astro.props;

dayjs.extend(localizedFormat);
const displayDate = dayjs(reportDate).format("ll");
---

<BaseLayout sideBarActiveItemID="hddreports" title={make + " " + model + " ~ " + serial} description={capacity}>
  <main class="relative overflow-x-auto flex flex-col w-[1500px]">
    <article class="prose prose-lg max-w-[1500px] prose-img:mx-auto">
      <h1 class="title relative max-w-[1500px] my-2 text-4xl font-bold">{make + " " + model + " ~ S/N: " + serial}</h1>
      Drive Type: <code>{size} {type}</code>
      <br>
      Drive Capacity: <code>{capacity}</code> 
      <br>
      Report Date: <code>{reportDate && <time>{displayDate}</time>}</code>
      <div class="divider my-2"></div>
      <h1>Drive Details</h1>
      - Disk Drive: <code>{make + " - " + model}</code>
      <br>
      - SN: <code>{serial}</code>
      <br>
      - Manufacture Date: <code><time>{manuDate}</time></code>
      <h2>Wipe Info</h2>
      - <i>Wipe Completed with nwipe v35+</i>
      <br>
      <br>
      {pdf &&<a href={"/hddreports/" + serial + ".pdf"}>Download a Copy</a>
      <object data={"/hddreports/" + serial + ".pdf"} type="application/pdf" width="100%" height="700px">
        <embed width="100%" src={"/hddreports/" + serial + ".pdf"}>
            <p>This browser does not support PDFs or Want a copy for yourself? Please download the PDF to view it: <a href={"/hddreports/" + serial + ".pdf"}>Download PDF</a>.</p>
        </embed>
        <slot />
    </object>}
    </article>
  </main>
</BaseLayout>
